/* CSS for Paged.js interface */
:root {
	--line-height: 0.80rem;
	--font-size: 0.7rem;
}

/* Change the look */
:root {
    --color-background: rgb(175, 175, 175);
    --color-pageBox: #666;
    --color-paper: rgb(255, 255, 255);
    --color-marginBox: pink;
}

/* To define how the book look on the screen: */
@media screen {
    body {
        background-color: var(--color-background);
    }

    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width) * 2);
        flex: 0;
        flex-wrap: wrap;
        margin:  auto;
    }

    .pagedjs_page {
        background-color: var(--color-paper);
        box-shadow: 0 0 0 1px var(--color-pageBox);
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: 14mm;
    }

    .pagedjs_first_page {
        margin-left: var(--pagedjs-width);
    }   

    /* .pagedjs_page:last-of-type {
        margin-bottom: 10mm;
    } */

    /* show the margin-box */
  .pagedjs_margin-top-left-corner-holder,
    .pagedjs_margin-top,
    .pagedjs_margin-top-left,
    .pagedjs_margin-top-center,
    .pagedjs_margin-top-right,
    .pagedjs_margin-top-right-corner-holder,
    .pagedjs_margin-bottom-left-corner-holder,
    .pagedjs_margin-bottom,
    .pagedjs_margin-bottom-left,
    .pagedjs_margin-bottom-center,
    .pagedjs_margin-bottom-right,
    .pagedjs_margin-bottom-right-corner-holder,
    .pagedjs_margin-right,
    .pagedjs_margin-right-top,
    .pagedjs_margin-right-middle,
    .pagedjs_margin-right-bottom,
    .pagedjs_margin-left,
    .pagedjs_margin-left-top,
    .pagedjs_margin-left-middle,
    .pagedjs_margin-left-bottom {
        box-shadow: 0 0 0 1px inset var(--color-marginBox);
    }
  



    /* uncomment this part for recto/verso book : ------------------------------------ */

    /* 
    .pagedjs_pages {
        flex-direction: column;
        width: 100%;
    }

    .pagedjs_first_page {
        margin-left: 0;
    }

    .pagedjs_page {
        margin: 0 auto;
        margin-top: 10mm;
    } 
    */

    /*--------------------------------------------------------------------------------------*/


    /* uncomment this par to see the baseline : -------------------------------------------*/

    
    .pagedjs_pagebox {
        --pagedjs-baseline: var(--line-height);
        --pagedjs-baseline-position: 2rem;
        --pagedjs-baseline-color: rgba(0, 255, 255, 0.397);
        background: linear-gradient(var(--color-paper) 0%, var(--color-paper) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent;
        background-size: 100% var(--pagedjs-baseline);
        background-repeat: repeat-y;
        background-position-y: var(--pagedjs-baseline-position);
    } 
   

    /*--------------------------------------------------------------------------------------*/
}
