
	
	body {
		counter-reset: chapter 0 sidenote 1 sidenodeRefMark 1 footnote 1;
	}

	body {
		font-family: 'matypo';
		font-size: var(--font-size);
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: none;
		font-kerning: normal;
		text-rendering: optimizeLegibility;
		text-align: left;
		color: rgb(0, 0, 0);
		margin-top: 0.5rem;
	}

	.tab{
		margin-left: 3rem;
	}

	.ita{
		font-family: 'matypo-ita';
	}

	.pink{
		/* color: rgb(0, 0, 0); */
		color: fuchsia;

	}


	/* .flow > * {
		margin-top: 0;
		margin-bottom: 0;
	}  

	.flow > * ~ * {
		margin-top: var(--line-height);
	} */

	/* Chapter */
	.chapter {
		break-before: page;
		/* position: absolute; */
		/* bottom: -0.8rem; */
		bottom: 0rem;
		flex-basis: auto;
		flex-shrink: 2;
		position: absolute;
		/* bottom: 0; */
		display: block;
		/* bookmark-level: 1;
		bookmark-label: 'Willkommen';
		bookmark-state: open; */
	}

	.nextpage {
		break-before: page;
		/* position: absolute; */
		margin-top: 0rem;
		margin-bottom: 0rem;
		/* display: flex; */
		/* flex-basis: auto; */
		/* flex-shrink: 2; */
	}

	/* Headings and Paragraphs */
	.chapterTitle, .chapterSousTitle {
		font-size: var(--font-size);
		font-weight:normal;
		/* color: rgb(0, 0, 0); */
		color: fuchsia;
		width: 100%;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.chapterTitle-solo{
		padding-bottom: 1.6rem;
		font-size: var(--font-size);
		font-weight:normal;
		color: fuchsia;
		/* color: rgb(0, 0, 0); */
		width: 100%;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
	}

	h2.chapterSousTitle {
		margin-left: 2.7rem;
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 1.6rem;
	}


	h2.chapterTitle::before{
		content: "◟";
		float: left;
	}

	h2.chapterSousTitle::before{
		content: '◝';
		float: left;
	}

	/* .flow.backmatter > h3 ~ ul,
	.flow.backmatter > h3 ~ ol,
	.flow.backmatter #index {
		margin-top: calc(var(--line-height) / 2);
	} */

	p{
		text-align: left;
		line-height: var(--line-height);
		font-variant-ligatures: normal;
		margin-top: 0;
		margin-bottom: 0;
	}

	.citation{
		/* color: rgb(0, 0, 0); */
		color: fuchsia;
		margin-left: 3rem;
	}


	.foot-note{
		display: inline;
		padding-top: 0.1rem;
		/* position: element(heading); */
	}	

	

	.sidenote-not-bottom{
		width: 100%;
		text-align: left;
		line-height: calc(var(--line-height) * 0.7);
		font-size: calc(var(--font-size) * 0.7);
		counter-increment: sidenote;	
		color: rgb(0, 0, 0);
		display: block;
		padding-top: calc(var(--line-height) * 0.35);
		background-color: rgba(111, 109, 109, 0);
		/* padding-left: 2rem; */


	}.last-note{
		padding-bottom: calc(var(--line-height) * 1);
	}

	.first-note{
	padding-top: calc(var(--line-height) * 1.2);
	}



	.sidenote::before,
	.sidenote-not-bottom::before {
		padding-right: 0.2rem;
		content: counter(sidenote);
		margin-top: -2rem;
		font-size: 0.8em;
	}

	.expo {
		text-decoration: none;
		position: relative;
		top: -0.2rem;
		font-size: 0.7em;
		line-height: 1;
	}

	

	a.sidenode-ref-mark {
		text-decoration: none;
		position: relative;
		top: -0.4rem;
		font-size: 0.7em;
		line-height: 1;
		/* font-variant-position: super; *//* not supported in Google Chrome */
		counter-increment: sidenodeRefMark; /* Own counter to keep mark and term together */
	}
	
	a.sidenode-ref-mark::before {
		/* a.sidenode-ref-mark::before { */
			content: counter(sidenodeRefMark);
		}
	

	section {
		max-width: 35rem;
		margin: 0 auto;
	}
	

	.lien{
		/* color: rgb(0, 0, 0); */
		color: fuchsia;
		display: auto;
	}
	

	.mercis{
		padding-bottom: calc(var(--line-height));
		font-size: var(--font-size);
		line-height: var(--line-height);
		text-align: left;
		display: block;
		width: 80%;
	}

	.sources{
		padding-bottom: calc(var(--line-height));
		font-size: var(--font-size);
		line-height: var(--line-height);
		text-align: left;
		display: block;
	}

	.coupe-gauche{
		page:blank;
	}

	
	@font-face {
	  font-family: 'matypo';
	  src: url('/fonts/Homoneta-Regular.otf') format('opentype'); /* Legacy iOS */
	}
	@font-face {
	  font-family: 'matypo-ita';
	  src: url('/fonts/Homoneta-Italic.otf') format('opentype'); /* Legacy iOS */
	}
	
	



