﻿:root {
	--line-height: 0.80rem;
	--font-size: 0.7rem;
	font-size: 24px
}



@media print {
	/* Page and page margin dimentions */
	@page {
		size: 210mm 297mm;
		margin-top: 50mm;
		margin-bottom: 49mm;
		padding: -30mm;
		font-size: var(--font-size);
		/* Footnote Area (currently not supported in Paged.js) */
		@footnote {
			float: bottom;
		}

		@bottom-center {
			content: '';
			position: absolute;
			width: 20mm;
			height: 19mm;
			left: 164mm;	
			/* border-bottom: 1px solid #000000; */
		}

		@top-center {
			content: '';
			position: absolute;
			width: 29mm;
			height: 30mm;
			left: 164mm;
			/* border-bottom: 1px solid #000000; */
		}

		@bottom-center {
			content: '';
			position: absolute;
			width: 100%;
			height: 20mm;
			left: 0;
			/* border-bottom: 1px solid #000000; */

		}

		@top-center {
			content: '';
			position: absolute;
			width: 100%;
			height: 30mm;
			left: 0;
			box-shadow: 1px 0 0 0 var(--color-pageBox);

		}

		@top-center {
			content: '';
			position: absolute;
			width: 100%;
			height: 30mm;
			left: 0;
			/* border-bottom: 1px solid #000000; */
		}
	}


	
	@page:left {
		margin-right: 27mm;
		margin-left: 55.5mm;
		/* Pagination Area */
	}
		@page:left {
			counter-increment: counter(page);
			text-align: left;
			font-size: var(--font-size);
			/* padding-top: 3rem; */
			
			@left-top{
				content: '';
				width: 35.5mm;
				height: 100%;
				position: absolute;
				/* box-shadow: 1px 0 0 0 var(--color-pageBox); */

			} 

			@left-bottom{
				content: '';
				width: 35.5mm;
				height: 100%;
				position: absolute;
				top: 0;
				/* box-shadow: 1px 0 0 0 var(--color-pageBox); */
			}

		

		/* Running Title*/
	
	}

	@page:right {
		margin-right: 55.5mm;
		margin-left: 27mm;
		/* Pagination Area */
		@bottom-center {
			/* content: "" counter(page) ""; */
			font-size: var(--font-size);
			text-align: left;
			padding-bottom: 3rem;
			content: element(heading);
		}

		/* marge inter */
		@right-top{
			content: '';
			width: 20mm;
			height: 100%;
			/* box-shadow: 1px 0 0 0 var(--color-pageBox); */

		}

		@right-bottom{
			content: '';
			width: 20mm;
			height: 100%;
			position: absolute;
			top: 0;
			/* box-shadow: 1px 0 0 0 var(--color-pageBox); */
		}

		
	
	}

	/* @page:first { 
		counter-reset: page 9 
	} */

	/* Master Page A */
	.chapter {
		page: masterA;
	}

	@page masterA:first {
		@right-top {
			content: none;
		}
	}

	/* Master Page B */
	.backmatter {
		page: masterB;
	}

	@page masterB:right {
		@top-right-corner {
			content: "";
			/* border-right: 3mm solid #000000; */
		}
	}

	@page masterB:left {
		@top-left-corner {
			content: "";
			/* border-right: 3mm solid #000000; */
		}
	}

	@page masterB:first {
		@right-top {
			content: none;
		}
	}
	
}

	/* Traits de coupe */


	/* traits de coupe pour les pages de gauche : appliquer la classe 'coupe-gauche' pour qu'ils apparaissent sur la page // ou changer 'blank' ci-dessous en 'left' pour qu'ils apparaissent sur toutes les pages de gauche   */

	/* @page:blank{  


		@top-left-corner{
			content: '';
			box-shadow: 1px 0 0 0 var(--color-pageBox);
			width: 20mm;
			height: 20mm;
			position: absolute;
			bottom: 20mm;
		}

		@bottom-left-corner{
			content: '';
			box-shadow: 1px 0 0 0 var(--color-pageBox);
			width: 20mm;
			height: 20mm;
			position: absolute;
			top: 20mm;
		}

		@bottom-center {
			content: '';
			position: absolute;
			width: 20mm;
			height: 19mm;
			left: 50mm;	
			border-bottom: 1px solid #000000;
		}

		@top-center {
			content: '';
			position: absolute;
			width: 20mm;
			height: 30mm;
			left: 20mm;
			border-bottom: 1px solid #000000;
		}
	
	} */


	/* traits de coupe sur la couv (page de droite), changer 'first' ci-dessous en 'right' pour qu'ils apparaissent sur toutes les pages de gauche  */
/* 
	@page:first  {
	
		@top-right-corner{
			content: '';
			box-shadow: 1px 0 0 0 var(--color-pageBox);
			width: 20mm;
			height: 20mm;
			position: absolute;
			bottom: 20mm;
		}

		@bottom-center {
			content: '';
			position: absolute;
			width: 0mm;
			height: 19mm;
			left: 164mm;	
			border-bottom: 1px solid #000000;
		} */

		/* @top-center {
			content: '';
			position: absolute;
			width: 20mm;
			height: 30mm;
			left: 164mm;
			border-bottom: 1px solid #000000;
		} */


		/* @bottom-right-corner{
			content: '';
			box-shadow: 1px 0 0 0 var(--color-pageBox);
			width: 20mm;
			height: 20mm;
			position: absolute;
			top: 20mm;		
		}

		@top-right-corner{
			content: '';
			box-shadow: 1px 0 0 0 var(--color-pageBox);
			width: 20mm;
			height: 20mm;
			position: absolute;
			bottom: 20mm;
		}

		@bottom-right-corner{
			content: '';
			box-shadow: 1px 0 0 0 var(--color-pageBox);
			width: 20mm;
			height: 20mm;
			position: absolute;
			top: 20mm;	
		}
		}
	 */
	
	