:root {
	--line-height: 1rem;
	--font-size: 1rem;
}

@font-face {
    font-family: 'matypo';
    src: url('/fonts/Homoneta-Regular.otf') format('opentype'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'matypo-ita';
    src: url('/fonts/Homoneta-Italic.otf') format('opentype'); /* Legacy iOS */
  }
  

body, *{
    font-family: 'matypo';

}

.partie{
    font-family: 'matypo';
    width: 40%;
    margin-left: 20%;
}

.tab{
    margin-left: 3rem;
}

.ita{
    font-family: 'matypo-ita';
}

.pink{          
    color: fuchsia;
}

h2.chapterTitle, h2.chapterSousTitle {
    font-size: var(--font-size);
    font-weight:normal;
    /* line-height: calc(var(--line-height) * (5/4));
    margin-bottom: calc(var(--line-height) * 5 + 0.65rem); */
    /* counter-increment: chapter; */
    color: magenta;
    width: 100%;
}

h2.chapterSousTitle {
    margin-left: 25%;
    margin-top: 0;
}


h2.chapterTitle::before{
    content: "◟";
    float: left;
}

h2.chapterSousTitle::before{
    content: '◝';
    float: left;
}

p{
    text-align: left;
    line-height: var(--line-height);
    font-variant-ligatures: normal;
    /* text-justify: inter-word; */
    orphans: 2; /* currently not supported in Mozilla Firefox (Jun 28, 2020) */
    widows: 2; /* currently not supported in Mozilla Firefox (Jun 28, 2020 */
}

.citation{
    color: fuchsia;
    margin-left: 3rem;
}


.foot-note{
    position: sticky;
    bottom: 0rem;
    float: bottom;
}


/* Sidenotes */
.sidenote {
    float:left;
    /* transform: translateY(20rem); */
    /* margin-left: 0.7rem; */
    /* padding-left: 0.5rem; */
    bottom: -5rem;
    /* position: absolute; */
    /* display: list-item; */
    padding-bottom: 0rem;
    width: 100%;
    text-align: left;
    line-height: 1.3;
    font-size: 0.5rem;
    font-weight: 400;
    counter-increment: sidenote;
    padding-top: 0.2rem;
}

.sidenote-not-bottom{
    float:left;
    bottom: -1.7rem;
    /* position: absolute; */
    /* display: list-item; */
    padding-bottom: 0rem;
    width: 100%;
    text-align: left;
    line-height: 1.3;
    font-size: 0.5rem;
    font-weight: 400;
    counter-increment: sidenote;	
    padding-top: 0.2rem;
    color: fuchsia;
}

.note-area{
    position: sticky;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    height: 5rem;
    width: 20rem;
}

.sidenote::before,
.sidenote-not-bottom::before {
    padding-right: 0.2rem;
    content: counter(sidenote);
    margin-top: -2rem;
    font-size: 0.8em;
}

a.sidenode-ref-mark {
    text-decoration: none;
    position: relative;
    top: -0.4rem;
    font-size: 0.7em;
    line-height: 1;
    /* font-variant-position: super; *//* not supported in Google Chrome */
    counter-increment: sidenodeRefMark; /* Own counter to keep mark and term together */
}

a.sidenode-ref-mark::before {
    content: counter(sidenodeRefMark);
}


section {
    max-width: 35rem;
    margin: 0 auto;
}
    


